.container {
  display: flex;
  justify-content: center;
}

.dashboard {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 1.2rem;
  margin-top: 1rem;
}

.groupsTopicsEventsListsColumn {
  flex: 30%;
}

.timelineColumn {
  flex: 40%;
}

.profileAndFilterColumn {
  flex: 30%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
}

.filter {
  display: flex;
}

.filterIconFilter {
  display: none;
}

@media screen and (max-width: 1500px) {
  .dashboard {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .groupsTopicsEventsListsColumn {
    display: none;
  }

  .profile {
    display: none;
  }

  .filter {
    display: none;
  }
  .filter2 {
    display: block;
    position: sticky;
    width: 160px;
  }
  .filterIcon {
    left: 35%;
    position: flex;
  }
  .filterIconFilter {
    display: block;
    margin-top: 27px;
  }
}
