.dashboard {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 70px;
}

.groupsTopicsEventsListsColumn {
  flex: 30%;
}

.timelineColumn {
  flex: 40%;
}

.profileAndFilterColumn {
  flex: 30%;
}

.newPostCustomCardContentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.newPost {
  font-size: 24px;
}

.newPostPlus {
  font-size: 44px;
}

@media screen and (max-width: 950px) {
  .dashboard {
    width: 95%;
  }
}

@media screen and (max-width: 700px) {
  .dashboard {
    width: 95%;
  }

  .groupsTopicsEventsListsColumn {
    display: none;
  }

  .profileAndFilterColumn {
    display: none;
  }
}
