@import "../../css-constants.css";

.textarea {
  padding: 0.5rem;
  min-height: 7rem;
  width: 500px;
  font-size: var(--font-size-medium);
  font-family: inherit;
  border-radius: 5px;
  border: 2px solid var(--alumni-primary-dark-azure);
}

.textarea:hover {
  background-color: var(--alumni-light-beige);
  outline: 2px solid var(--alumni-primary-dark-azure);
}

.textarea:focus {
  background-color: white;
  outline: 2px solid var(--alumni-primary-dark-azure);
}
