@import "../../css-constants.css";

.card {
  margin: 2rem;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  background-color: white;
  flex-direction: column;
  gap: 1.2rem;
}

.card:hover {
  background-color: var(--alumni-primary-light-azure);
  cursor: pointer;
}

.postedInfo {
  font-size: 16px;
}

.title {
  font-size: 24px;
}

.postBody {
  background-color: var(--alumni-light-beige);
  min-height: 100px;
  max-height: 500px;
  width: 100%;
}

.comments {
  font-size: 16px;
}
