@import "../../css-constants.css";

.card {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  background-color: white;
  flex-direction: column;
  gap: 1.2rem;
}

/*.stickyCard {*/
/*  position: fixed;*/
/*}*/

/*.cardPositionOne {*/
/*  top: 80px;*/
/*}*/

/*.cardPositionTwo {*/
/*  top: ;*/
/*}*/

/*.cardPositionThree {*/
/*}*/

.card:hover {
  background-color: var(--alumni-primary-light-azure);
  cursor: pointer;
}
