@import "../../css-constants.css";

.input {
  width: 100%;
  border-radius: 10px;
  border: none;
  margin: 0.5rem;
  padding: 1rem;
  font-size: var(--font-size-medium);
}

.input:hover {
  background-color: var(--alumni-light-beige);
  outline: 2px solid var(--alumni-primary-dark-azure);
}

.input:focus {
  background-color: white;
  outline: 2px solid var(--alumni-primary-dark-azure);
}
