@import "../../../src/css_constants.css";

.card {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: var(--alumni-primary-dark-azure);
  height: 50%;
  width: 50%;
  border-radius: 5%;
  background: linear-gradient(
    to right,
    var(--alumni-primary-dark-azure) 0%,
    var(--alumni-primary-dark-azure) 65%,
    white 35%,
    white 100%
  );
}
