@import "../../../src/css_constants.css";

.card {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 80%;
  border-radius: 30px;
  background: linear-gradient(
    to right,
    rgb(0, 96, 120) 0%,
    rgb(38, 151, 179) 50%,
    rgb(40, 178, 205) 66%,
    white 35%,
    white 100%
  );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card:hover,
.card:focus {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px,
    rgba(0, 0, 0, 0.22) 0px 12px 12px;
}

.logo {
  position: fixed;
  height: 15%;
  width: auto;
  top: 43%;
  left: 83%;
  margin-right: -18%;
  transform: translate(-50%, -50%);
}
.title {
  position: fixed;
  height: 10%;
  width: auto;
  top: 45%;
  left: 35%;
  margin-right: -65%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 200%;
}

.undertitle {
  position: fixed;
  height: 5%;
  width: auto;
  top: 55%;
  left: 35%;
  text-align: left;
  margin-right: -65%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 120%;
}

.illustration {
  position: fixed;
  height: 100%;
  width: 66%;
  top: 50.06%;
  left: 33%;
  margin-right: -65%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  mix-blend-mode: color-burn;
}

@media screen and (max-height: 710px) {
  .card {
    height: 30%;
    width: 100%;
    background: linear-gradient(
      to right,
      rgb(0, 96, 120) 0%,
      rgb(38, 151, 179) 50%,
      rgb(40, 178, 205) 66%,
      white 35%,
      white 100%
    );
  }
}

@media screen and (max-height: 900px) {
  .card {
    height: 40%;
    width: 100%;
    background: linear-gradient(
      to right,
      rgb(0, 96, 120) 0%,
      rgb(38, 151, 179) 50%,
      rgb(40, 178, 205) 66%,
      white 35%,
      white 100%
    );
  }
}

@media screen and (max-width: 900px) {
  .card {
    height: 50%;
    width: 80%;
    background: linear-gradient(
      to right,
      rgb(0, 96, 120) 0%,
      rgb(38, 151, 179) 50%,
      rgb(40, 178, 205) 66%,
      white 35%,
      white 100%
    );
  }
}

@media screen and (max-width: 1536px) {
  .card {
    height: 50%;
    width: 90%;
    background: linear-gradient(
      to right,
      rgb(0, 96, 120) 0%,
      rgb(38, 151, 179) 50%,
      rgb(40, 178, 205) 66%,
      white 35%,
      white 100%
    );
  }
  .logo {
    height: 10%;
    width: auto;
  }
}
