@import "../../css-constants.css";

.titleAndAddBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contentList {
  display: flex;
  flex-direction: column;
}

.seeMoreBtn {
  display: flex;
  justify-content: center;
}

.modalHeader {
  font-size: var(--font-size-big);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.radioButtons {
  display: flex;
  justify-content: space-around;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}
