@import "../../css-constants.css";

.titleAndAddBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.seeMoreBtn {
  display: flex;
  justify-content: center;
}

.modalHeader {
  font-size: var(--font-size-medium);
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  position: relative;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.radioButtons {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  margin-left: 1px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.invisibleSeeMoreBtn {
  display: none;
}
