@import "../../css-constants.css";

.profilePic {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 3 / 3;
  height: 100%;
  margin-right: 1rem;
  border-radius: 50%;
  background-color: var(--alumni-primary-dark-azure);
  font-size: var(--font-size-big);
  color: white;
  cursor: pointer;
}

.profilePic:hover {
  cursor: pointer;
  outline: 2px solid var(--alumni-primary-light-azure);
}
