@import "../../css-constants.css";

.headerBox {
  background-color: var(--alumni-orange);
  height: 75px;
  width: 130%;
  margin-left: -25px;
  margin-top: -20px;
  margin-bottom: 0.5rem;
}

.profile {
  position: absolute;
  top: 45px;
  height: 5rem;
  width: 5rem;
}

.infoBox {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-top: 2.5rem;
  margin-bottom: 30px;
}

.text {
  font-size: 16px;
}

.textBox {
  background-color: var(--alumni-light-beige);
  height: 70px;
  width: 100%;
}

@media screen and (max-height: 710px) {
  .funFactBox {
    display: none;
  }
}

@media screen and (max-height: 610px) {
  .shortBioBox {
    display: none;
  }
}
