@import "../../css-constants.css";

.container {
  display: flex;
  justify-content: center;
}

.postView {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 1.2rem;
}

.emptyColumn {
  flex: 30%;
}

.postColumn {
  margin-top: 1rem;
  flex: 40%;
}

.infoColumn {
  flex: 30%;
}

.commentsContainer {
  margin-left: 3.5rem;
}

.comment {
  margin-left: 2rem;
}

.postColumn hr {
  margin-top: 2.5rem;
  border: 1px solid var(--alumni-primary-dark-azure);
}

.postCommentContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin: 1rem;
  justify-content: flex-end;
}

.replyBtn {
  background-color: white;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
}

.replyBtn:hover {
  background-color: var(--alumni-primary-light-azure);
  cursor: pointer;
}

@media screen and (max-width: 1500px) {
  .postView {
    width: 100%;
  }
}

@media screen and (max-width: 1250px) {
  .emptyColumn {
    flex: 0;
  }
}

@media screen and (max-width: 750px) {
  .postView {
    flex-direction: column-reverse;
  }
}
